<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Cheerios | Brighten someone's day</title>
</head>
<body>
    <header>
        <h1>Welcome to Cheerios {% if session.get('user_id') %}, {{session.get('user_name')}} {% endif %}</h1>
        <nav>
            <div>
                <a href="/cheerups">Home</a>
            </div>
            {% if session.get('user_id') %}
            <div>
                <a href="/sessions/destroy">Logout</a>
            </div>
            {% else %}
            <div>
                <a href="/login">Login</a>
            </div>
            <div>
                <a href="/signup">Sign up</a>
            </div>
            {% endif %}
        </nav>
    </header>
    <main>
        {%block content %}{% endblock content %}
    </main>
    
</body>
</html>